@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root{
    --font-one: "ubuntu"; 
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%); 
    --cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%) ;
    --Alabaster: hsl(231, 100%, 99%) ;
    --White: hsl(0, 0%, 100%);
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;  
}

body{
    background-color: var(--Light-gray);
    font-size: 16px;
    font-family: var(--font-one);
    overflow: hidden;
}
.main-section{
    display: flex;
    width: 1080px;
    height: 630px;
    margin:  8% auto;
    border-radius: 30px;
    background-color: var(--White);
}

/* SIDEBAR STYLES */

.sidebar{
    flex: 0.6;
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    margin: 20px;
    border-radius: 10px;
    padding:30px 30px 25px 30px;
}

.selector{
    height:55px;
    display: flex;
    margin: 10px 0;

}

.p-num {
    color: var(--cool-gray);
    text-transform: uppercase;
}

.p-title{
    color: var(--White);
    text-transform: uppercase;
}

.step-num {
    width: 30px;
    height: 30px;
    border: 1px solid var(--White);
    border-radius: 15px;
    text-align: center;
    padding-top: 5px;
    margin-right: 10px;
    margin-top: 3px;
    color: var(--White);
    font-weight: bold;
}

.sel{
    background-color: var(--Pastel-blue);
    color: var(--Marine-blue);
    font-weight: bold;
}
/* SIDEBAR SYLE END */

/* ALL STEP FORM PAGES STYLE*/

.step-form{

    margin: 20px;
    flex: 2;
}

.step{
    width: 90%;
    height: 100%;
    margin: 40px;
    padding-top: 30px;
}

.step h1{
    font-size: 35px;
    text-align: left;
    color: var(--Marine-blue);
}

.step p{
    color: var(--cool-gray);
    margin: 10px 0;
}

.step label {
    display: block;
    margin: 25px 0 10px 0;
    color: var(--Marine-blue);
}

.navigate-steps {
    margin: 45px 0 15px 0;
    display: flex;
}

.step .left {
    width: 60%;
}

.step .right {
    width: 40%;
    padding-left: 75px;
}

.step .right button {
    display: block;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: var(--Marine-blue);
    color: var(--White);
    border: none;
    border-radius: 8px;

}

.step .left p {
    cursor: pointer;

}
.step .left p:hover {
    color: var(--Marine-blue);
}

/* ALL STEP FORM PAGES STYLE END */

/* STEP ONE PAGE STYLE */
#form1 input{
    width: 90%;
    height: 50px;
    color: var(--cool-gray);
    border: 1px solid var(--cool-gray) ;
    border-radius: 5px;
    padding: 10px;
}
#form1 label{
    display: flex;
    justify-content: space-between;
}
.label{
    font-weight: bold;
}
.error{
    color: var(--Strawberry-red);
    font-weight: bold;

}


/* STEP ONE PAGE STYLE END */
/* STEP TWO PAGE STYLE */
#form2{
    width: 90%;
}
.radio-group{
    display: flex;
    justify-content: space-around;
}

.radio{
    width: 130px;
    height: 170px;
    border: 2px solid var(--Light-gray);
    border-radius: 10px;
    margin: 40px 10px 30px 10px;
    padding: 10px;
}

.radio:hover{
    cursor: pointer;
    border: 2px solid var(--Purplish-blue);
}

.radio-label{
    width: 100%;
    height: 70%;
    margin: 0 0  0 ;
}

.radiobtn {
    position: fixed;
    width: 0px;
    height: 0px;
    opacity: 50;
    /* display: none; */
}

.radiobtn:hover,
.radio-label:hover,
.radio-label::before,
.selector {
    cursor: pointer;
}

.radio-label h5{
    font-size: 13px;
}

.plan-img{
    width: 95%;
    height: 60%;
}

.selected{
    border: 2px solid var(--Purplish-blue);
    background-color: var(--Alabaster);
    opacity: 80%;
}

.period-select{
    height: 50px;
    background-color: var(--Magnolia);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.toggle{
    width: 45px;
    height: 21px;
    background-color: var(--Marine-blue);
    margin: 10px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.t-left{
    width: 15px;
    height: 15px;
    background-color: var(--Alabaster);
    border-radius: 50px;
    margin: 3px 5px 6px 5px;
}

.t-right {
    width: 15px;
    height: 15px;
    background-color: var(--Alabaster);
    border-radius: 50px;
    margin: 3px 5px 6px 25px;
}

.period{
    font-size: 17px;
    font-weight: bold;
    color: var(--cool-gray);
}
.p-selected{
    color: var(--Marine-blue);
}


/* STEP TWO PAGE END */

/* STEP THREE PAGE  */

.addon-item{
    display: flex;
    align-items: center;
    width: 450px;
    height: 70px;
    border: 3px solid var(--Light-gray);
    margin: 20px 0 ;
    border-radius: 7px;
}

.checkbox{
    width: 20px;
    height: 20px;
    margin: 0 30px;
    position: absolute;
    opacity: 0;
}



.addon-header{
    width: 280px;
}

.addon-item label{
    display: flex;
    align-items: center;
    margin: 10px ;
}

.addon-item label::before{
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--cool-gray);
    border-radius: 3px;
    margin: 0 30px 10px 20px;
}

.addon-item label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--cool-gray);
    border-radius: 5px;
    margin: 0 30px 10px 20px;
}



.addon-item, .addon-item label:hover::before , .checkbox:hover + label{
    cursor: pointer;
}


.checkbox:checked + label::before {
   content: "\002714";
    background-color: var(--Purplish-blue);
    color: var(--Alabaster);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--Purplish-blue);
    font-size:14px ;
}

.a-checked{
    border: 2px solid var(--Purplish-blue);
    background-color: var(--Alabaster);
}

.addon-price{
    color: var(--Purplish-blue);
}

.addon-header h3{
    font-size: 18px;
    color: var(--Marine-blue);
}




/* STEP THREE PAGE END */

/* STEP FOUR PAGE  */

.subscription-show{
    background-color: var(--Alabaster);
    width: 450px;
    border-radius: 17px ;
    padding: 20px;
}

#main-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

#main-sub h5{
    font-size: 17px ;
    color: var(--Marine-blue);
}

.plan-pay{
    font-size: 18px;
    font-weight: bold;
    color: var(--);
}

.addon-pay{
    font-size: 16px;
    font-weight: 600;
    color: var(--Marine-blue);
}

.divider{
    width: 100%;
    height: 1px;
    background-color: var(--Light-gray);
}

.addon-added{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0 10px ;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.totalprice{
    font-size: 20px;
    font-weight: bold;
    color: var(--Purplish-blue);
}

/* STEP FOUR PAGE END */


/* PAGE FIVE START */
    .step5{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
        padding-left: 40px; 
    }

    .text{
        margin-top: 3%;
        width: 410px;
    }
    .text p{
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        margin-top: 20px;
    }

    .text h1{
        font-size: 50px;
        text-align: center;
    }


/* PAGE FIVE END */
.hidden{
    display: none ;
}